<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{affairs/base :: base(~{::title}, ~{::div.content}, ~{::#custom-links}, ~{::#custom-javascripts})}">
    <header>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Account list template</title>

        <th:block id="custom-links">
            <link rel="stylesheet" th:href="@{/affairs/css/account-list.css}" />
        </th:block>

    </header>
    <body>

        <div class="content">
            <div class="nodes-section">
                <div class="section-header">
                    <h2>Node Configurations</h2>
                    <p>Manage and review configured nodes for student affairs operations</p>
                </div>
                <div class="nodes-table">
                    <div class="table-header">
                        <span class="table-column">Account ID</span>
                        <span class="table-column">Full name</span>
                        <span class="table-column">Username</span>
                        <span class="table-column">Email</span>
                        <span class="table-column">Phone</span>
                        <span class="table-column">Actions</span>
                    </div>

                    <div th:each="u : ${users}" >
                        <div class="table-row">
                            <span class="table-column" th:text="${u.id}">1</span>
                            <span class="table-column" th:text="${u.firstName + ' ' + u.lastName}">Nguyen Van A</span>
                            <span class="table-column" th:text="${u.username}">username</span>
                            <span class="table-column" th:text="${u.email}">nva@example.com</span>
                            <span class="table-column" th:text="${u.phone}">0*********</span>
                            <span class="table-column">
                                <a class="action-button edit" 
                                   th:href="@{/affairs/accounts/{id}(id=${u.id})}">
                                    Edit
                                </a>
                            </span>
                        </div>
                    </div>

                    <!--                <div class="table-row">
                                            <span class="table-column">ND001</span>
                                            <span class="table-column">Student Sync</span>
                                            <span class="table-column"><span class="status active">Active</span></span>
                                            <span class="table-column">System</span>
                                            <span class="table-column">2025-05-18 14:30</span>
                                            <span class="table-column">
                                                <button class="action-button edit">Edit</button>
                                                <button class="action-button delete">Delete</button>
                                            </span>
                                        </div> 
                    -->
                </div>
            </div>
        </div>

    <th:block id="custom-javascripts" />
</body>
</html>
