<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:fragment="base(title, content, links, javascripts)">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:replace="${title}">Default title</title>

    <th:block th:insert="${links}" />
    <link rel="stylesheet" th:href="@{/affairs/css/base.css}" />
</head>
<body class="dashboard">
    <div class="sidebar">
        <h2 class="sidebar-title">Shards Dashboard</h2>
        <div th:insert="~{affairs/fragments/sidebar-menu :: sidebar-menu}" />
    </div>

    <div class="main">
        <div class="topbar">
            <input type="text" class="search-box" placeholder="Search for something..." />
            <div class="profile">Sierra Brooks</div>
        </div>

        <div class="content">
            <div th:replace="${content}" />
        </div>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/affairs/js/affairs.js}" defer></script>
    <th:block th:insert="${javascripts}" />
</body>
</html>