<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="sidebar-menu">
        <ul class="sidebar-menu">
            <li class="sidebar-item active">Blog Dashboard</li>
            <li class="sidebar-item">Blog Posts</li>
            <li class="sidebar-item">Add New Post</li>
            <li class="sidebar-item">Forms & Components</li>
            <li class="sidebar-item">Tables</li>
            <li class="sidebar-item">User Profile</li>
            <li class="sidebar-item">Errors</li>
        </ul>
    </div>
</html>