<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="sidebar-menu">
        <ul class="sidebar-menu">
            <li class="sidebar-item active"><a th:href='@{/affairs/index}'>Affairs Dashboard</a></li>
            <li class="sidebar-item"><a th:href='@{/affairs/bulletins}'>Bulletins</a></li>
            <li class="sidebar-item"><a th:href='@{/affairs/activities}'>Activities</a></li>
            <li class="sidebar-item"><a th:href='@{/affairs/cancels}'>Cancel requirement</a></li>
            <li class="sidebar-item"><a th:href='@{/affairs/accounts}'>Accounts</a></li>
            <li class="sidebar-item"><a th:href='@{/affairs/add-assistant}'>Add assistant form</a></li>
            <li class="sidebar-item"><a th:href='@{/affairs/stats/class}'>Class stats</a></li>
            <li class="sidebar-item"><a th:href='@{/affairs/stats/department}'>Department stats</a></li>
            <li class="sidebar-item"><a th:href='@{/affairs/stats/achievement}'>Achievement stats</a></li>
            
            <!-- khong dung the a -->
        </ul>
    </div>
</html>